@charset "UTF-8";

/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {

}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}


/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*--- ページ基本デザイン ---*/
body{
	font-family: 'ヒラギノ丸ゴ Pro W4';
	background-image: url(../image/image8-2-2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
  flex-flow: column;
	min-height: 100vh;
}
#header{
	width: 450px;
	height: 150px;
	display: flex;
	margin: auto;
	margin-bottom: 20px;
}
#header img{
	width: 150px;
	border-radius: 50%;
}
#header p{
	color: #666;
	text-shadow: 4px 3px rgb(153,204,51);
	line-height: 150px;
	font-size: 60px;
	font-weight: bold;
	margin-left: 10px;
	border-bottom: 3px solid #666;
}
.header{
	width: 100%;
	height: 100px;
	background-color: rgba(153,204,51,0.8);
}
#head_list{
	width: 680px;
	display: flex;
	margin: auto;
}
#head_list img{
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin: 5px 0;
}
#head_list ul{
	width: 600px;
	display: flex;
	padding-top: 50px;
	margin-left: auto;
}
#head_list li{
	width: 120px;
	text-align: center;
	line-height: 50px;
	margin-left: auto;
}
#head_list li a{
	font-size: 16px;
	color: #fff;
}
#h_menu{
	display: none;
}
.media_header{
	width: 100%;
	display: none;
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	top: 100px;
	z-index: 1;
}
.media_header li{
	margin: 10px;
}
.media_header li a{
	color: rgb(153,204,51);
	margin-left: 20px;
}

.wrap{
	width: 60%;
	margin: 10px auto;
	padding: 20px 0;
	background-color: rgba(255,255,225,0.7);
}

.p_head{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.list{
  width: 80%;
  display: flex;
  margin: 15px auto;
	padding-top: 10px;
	box-shadow: 2px 2px 4px;
	background-color: #F3FFD8;
}

span{
	color: red;
}

.popup {
  display: none;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
}
.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer{
	margin-top: auto;
	font-size: 12px;
	background-color: rgba(153,204,51,0.8);
}
#footer p{
	text-align: center;
}

@media screen and (max-width: 1300px) {
	.wrap{
		width: 80%;
	}
	.list{
		width: 90%;
	}
}
@media screen and (max-width: 768px) {
	.wrap{
		width: 95%;
	}
}
@media screen and (max-width: 690px) {
	#header{
		width: 350px;
		height: 100px;
	}
	#header img{
		width: 100px;
		height: 100px;
	}
	#header p{
		font-size: 50px;
		line-height: 100px;
	}
	#head_list{
		width: auto;
	}
	#head_list ul{
		display: none;
	}
	#h_menu{
		display: block;
		margin-left: auto;
	}
	#h_menu img{
		width: 50px;
		height: 50px;
	}
}
